aiocontextvars==0.2.2
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aiohttp-sse==2.0.0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
bson==0.5.10
chardet==4.0.0
click==7.1.2
colorclass==2.2.0
colorlog==5.0.1
confluent-kafka==1.7.0
contextvars==2.4
croniter==1.0.15
faust==1.10.4
idna==3.2
idna-ssl==1.1.0
immutables==0.16
kafka-python==1.4.7
mode==4.3.2
multidict==5.1.0
mypy-extensions==0.4.3
opentracing==1.3.0
pkg_resources==0.0.0
psycopg2==2.7.7
psycopg2-binary==2.9.1
pycodestyle==2.7.0
python-dateutil==2.8.2
python-rocksdb==0.7.0
robinhood-aiokafka==1.1.6
six==1.16.0
terminaltables==3.1.0
toml==0.10.2
typing-extensions==3.10.0.0
venusian==1.2.0
yarl==1.6.3
